/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html, body {
    position: relative;
    min-height: 100% !important;
    height: 100%;
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/***** Admin Area *****/
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0,0,0,.1);
}

    .sidebar .nav-link {
        font-weight: 500;
        color: #333;
    }

        .sidebar .nav-link .feather {
            margin-right: 4px;
            color: #999;
        }

        .sidebar .nav-link.active {
            color: #007bff;
        }

            .sidebar .nav-link:hover .feather,
            .sidebar .nav-link.active .feather {
                color: inherit;
            }

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.upper-nav {
    position: sticky;
    width: 100%;
    z-index: 1000;
    top: 0;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .15) !important;
}

/***** Product View *****/

.product-list > .row:nth-child(even) {
    background-color: #d9d9d9
}

.product-list > .row:nth-child(odd) {
    background-color: #f0f0f0
}

.product-shadow {
    -webkit-box-shadow: 2px 5px 5px 0px rgba(133,133,133,0.75);
    -moz-box-shadow: 2px 5px 5px 0px rgba(133,133,133,0.75);
    box-shadow: 2px 5px 5px 0px rgba(133,133,133,0.75);
}

/***** Default Area *****/

/***** Home View *****/

.home__bg--1 {
    background: url("/img/home-1.jpg");
    background-position: bottom;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 75vh;
    border: 1px solid black;
}

.home__bg--2 {
    background: url("/img/home-2.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 30vh;
    border: 1px solid black;
}

.home__bg--3 {
    background: url("/img/home-3.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 30vh;
    border: 1px solid black;
}

.home__bg--4 {
    background: url("/img/home-4.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 30vh;
    border: 1px solid black;
}

.home--overlay {
    width: 100%;
    height: 75vh;
    background-color: rgba(0,0,0, 0.2);
    top: 0;
    left: 0;
    z-index: 1000;
}

.home__title {
    color: white;
    font: 700;
    font-size: 42px;
    top: 15%;
    position: relative;
}

.carousel-img {
    width: 100%;
    height: 20vh;
}

/***** Catalog View *****/

.catalog__arrow {
    font-size: 50px;
    color: black;
    cursor: pointer;
}

.sortFilter__button {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.form-dropDown {
    position: relative;
    width: 50%;
    left: 25%;
}

.sortFilter {
    bottom: 0;
    right: 0;
    position: fixed;
    height: 0%;
    width: 100%;
    z-index: 1001;
    background-color: dimgray;
}

/***** Order View *****/
.total-price-shadow {
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.75);
}

.order-detail-shadow {
    -webkit-box-shadow: inset 0px 0px 40px 15px rgba(235,235,235,1);
    -moz-box-shadow: inset 0px 0px 40px 15px rgba(235,235,235,1);
    box-shadow: inset 0px 0px 40px 15px rgba(235,235,235,1);
}

.order-detail-items-shadow {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
}

#progressbar {
    margin-bottom: 20px;
    overflow: hidden;
    color: #455A64;
    padding-left: 0px;
    margin-top: 30px
}

    #progressbar li {
        list-style-type: none;
        font-size: 13px;
        width: 20%;
        display: inline-block;
        position: relative;
        font-weight: 400
    }

    #progressbar .step0:before {
        font-family: FontAwesome;
        content: "\f10c";
        color: #fff
    }

    #progressbar li:before {
        width: 40px;
        height: 40px;
        line-height: 45px;
        display: block;
        font-size: 20px;
        background: #C5CAE9;
        border-radius: 50%;
        margin: auto;
        padding: 0px
    }

    #progressbar li:after {
        content: '';
        width: 100%;
        height: 12px;
        background: #C5CAE9;
        position: absolute;
        left: 0;
        top: 16px;
        z-index: -1
    }

    #progressbar li:first-child:after {
        left: 50%
    }

    #progressbar li:last-child:after {
        left: -50%;
        z-index: -5;
    }

    #progressbar li.active:before,
    #progressbar li.active:after {
        background: #651FFF
    }

    #progressbar li.active:before {
        font-family: FontAwesome;
        content: "\f00c"
    }

/***** Basket View *****/
.basket__quantity {
    cursor: pointer;
    font-size: 30px;
}