@model ShopMVC.Models.ViewModels.CatalogProductsViewModel

<div class="sortFilter__button">
    <div class="btn-group">
        <button id="sort-button" class="btn btn-secondary px-4" type="button">
            Sort
        </button>
        <button class="btn btn-secondary px-4" type="button">
            &#8635
        </button>
        <button id="filter-button" class="btn btn-secondary px-4" type="button">
            Filter
        </button>
    </div>
</div>

<div class="sortFilter text-center">
    <div class="text-right">
        <span id="sortFilter-close" class="text-danger mt-2 mr-4" style="font-size: 50px; cursor: pointer;">&#9746</span>
    </div>

    <form asp-action="Index" asp-controller="Product">
        <div id="sort" style="display: none;">
            <h2 class="text-white">Sort</h2>
            <div class="form-check mt-4">
                @Html.RadioButtonFor(x => x.FilteringData.Sort, 1, new { @class = "form-check-input", @id = "sortRadio1"})
                <label class="form-check-label text-white" for="sortRadio1">
                    Price Ascending
                </label>
            </div>
            <div class="form-check">
                @Html.RadioButtonFor(x => x.FilteringData.Sort, 2, new { @class = "form-check-input", @id = "sortRadio2" })
                <label class="form-check-label text-white" for="sortRadio2">
                    Price Descending
                </label>
            </div>
            <div class="mt-4">
                <button type="submit" class="btn btn-light">Search</button>
            </div>

        </div>
        <div id="filter" style="display: none;">
            <h2 class="text-white">Filter</h2>
            @Html.DropDownListFor(x => x.FilteringData.Colors,
           Enum.GetNames(typeof(ShopMVC.Models.Enums.ColorsEnum.Colors)).Select(x => new SelectListItem() { Text = x, Value = x }),
           new { @class = "form-control form-dropDown" })
            <div class="mt-4">
                <button type="submit" class="btn btn-light">Search</button>
            </div>
        </div>
    </form>
</div>


<script>
    $("#sort-button").click(() => {
        $(".sortFilter").animate({ height: '100%' }, 500);
        $("#sort").css("display", "block");
    });

    $("#filter-button").click(() => {
        $(".sortFilter").animate({ height: '100%' }, 500);
        $("#filter").css("display", "block");
    });

    $("#sortFilter-close").click(() => {
        $(".sortFilter").animate({ height: '0%' }, 500);
        $("#sort").css("display", "none");
        $("#filter").css("display", "none");
    });

</script>