@model ShopMVC.Models.ViewModels.UserBasketViewModel

<div class="col-12 text-left">
    <button class="btn btn-success">Ready</button>
</div>

<div class="col-12 mt-2 border">
    <div class="row my-4">
        <div class="col-12 mb-3 text-center">
            <h6>Personal Data</h6>
        </div>
        <div class="col-6 mb-1">
            <input class="form-control" placeholder="First Name" />
        </div>
        <div class="col-6 mb-1">
            <input class="form-control" placeholder="Last Name" />
        </div>
        <div class="offset-3 col-6 mb-1">
            <input class="form-control" placeholder="Phone Number" />
        </div>

        <div class="col-12 mt-4 mb-3 text-center">
            <h6>Address</h6>
        </div>
        <div class="col-6 mb-1">
            <input class="form-control" placeholder="City" />
        </div>
        <div class="col-6 mb-1">
            <input class="form-control" placeholder="Post Code" />
        </div>
        <div class="col-6 mb-1">
            <input class="form-control" placeholder="Street" />
        </div>
        <div class="col-6 mb-1">
            <input class="form-control" placeholder="House Number" />
        </div>

        <div class="col-12 mb-2 text-center">
            <div class="col-12 text-left">
                <button id="createOrder" class="btn btn-success">Buy</button>
            </div>
        </div>
    </div>
</div>