@model ShopMVC.Areas.Admin.Models.ViewModels.ProductsViewModel

<div class="col-9 offset-3 text-left">
    <button class="btn btn-success">Add New Product</button>
</div>

@if (Model != null && Model.Products.Count > 0)
{
    <div class="row pt-2 border text-center">
        <div class="col-md-9 offset-md-3 col-12 col-lg-10 offset-lg-2 items-list">
            @foreach (var product in Model.Products)
            {
                <div class="row border-top product-shadow mt-3 align-items-center">
                    <div class="col-12 col-sm-3 border-left border-right p-2">
                        <a href="/Catalog/ProductDetail/@product.Id">
                            <img src="@product.PhotoUrl" style="width: 100px;" />
                        </a>
                    </div>
                    <div class="col-12 col-sm-3 border-right p-2">@product.ProductName</div>
                    <div class="col-12 col-sm-3 border-right p-2">Ref: @product.Reference</div>
                    <div class="col-12 col-sm-3 border-right p-2">
                        <div class="btn-group">
                            <button class="btn btn-success">Edit</button>
                            <button class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
