<div class="row pt-2 border text-center">
    <div class="col-md-9 offset-md-3 col-12 col-lg-10 offset-lg-2 product-list">
        <div class="row border-top product-shadow mt-3">
            <div class="col-3 border-left border-right p-3">xXX</div>
            <div class="col-3 border-right p-3">xXX</div>
            <div class="col-3 border-right p-3">Xxx</div>
            <div class="col-3 border-right p-3">xXx</div>
        </div>
        <div class="row border-top product-shadow mt-3">
            <div class="col-3 border-left border-right p-3">xXX</div>
            <div class="col-3 border-right p-3">xXX</div>
            <div class="col-3 border-right p-3">Xxx</div>
            <div class="col-3 border-right p-3">xXx</div>
        </div> 
        <div class="row border-top product-shadow mt-3">
            <div class="col-3 border-left border-right p-3">xXX</div>
            <div class="col-3 border-right p-3">xXX</div>
            <div class="col-3 border-right p-3">Xxx</div>
            <div class="col-3 border-right p-3">xXx</div>
        </div>
    </div>
</div>
