@model List<ShopMVC.Models.BasketProduct>

<div class="order-items-list p-2 pb-3">
    @foreach (var item in Model)
    {
        var itemPrice = item.Price * item.Quantity;

        <div class="row border-top product-shadow mt-3 align-items-center text-center">
            <div class="col-12 col-sm-3 border-left border-right p-2">
                <img src="@item.PhotoUrl" style="width: 120px;" />
            </div>
            <div class="col-12 col-sm-3 border-right p-2">@item.ProductName</div>
            <div class="col-12 col-sm-3 border-right p-2">QTY: @item.Quantity</div>
            <div class="col-12 col-sm-3 border-right p-2">@itemPrice$</div>
        </div>
    }
</div>
