@model ShopMVC.Areas.Admin.Models.ViewModels.PacksViewModel


<div class="row text-center pt-4">
    <div class="col-md-9 offset-md-3 col-12 col-lg-10 offset-lg-2 text-center">

        <a class="btn btn-success mb-3" asp-controller="Delivery" asp-action="IndexLoadingPlace">
            <i class="fas fa-people-carry"></i> &nbsp;Loading Places
        </a>

        <div class="text-left">
            <h4>Packs</h4>
        </div>

        @foreach (var pack in Model.Packs)
        {
            <div class="custom-shadow border-top p-2 mb-1">
                <a class="row text-dark" style="text-decoration: none;"
                   asp-controller="Delivery" asp-action="PackDetail" asp-route-id="@pack.Id">

                    <div class="col-12 col-sm-4">@pack.Date</div>
                    <div class="col-12 col-sm-4">@pack.PackStatus.ToString().Replace("_", " ")</div>
                    <div class="col-12 col-sm-4">Qty: @pack.ProductsQuantity</div>
                </a>
            </div>
        }
    </div>

    @await Html.PartialAsync("~/Areas/Admin/Views/Delivery/_PackFilter.cshtml", Model)
</div>