@model ShopMVC.Areas.Admin.Models.ViewModels.DeliveryViewModel


<div class="row text-center pt-4">
    <div class="col-md-9 offset-md-3 col-12 col-lg-10 offset-lg-2 text-center">
        @foreach (var pack in Model.Packs)
        {
            <div class="custom-shadow border-top p-2 mb-1">
                <a class="row text-dark" style="text-decoration: none;"
                   asp-controller="Delivery" asp-action="PackDetail" asp-area="Admin" asp-route-id="@pack.Id">

                    <div class="col-12 col-sm-4">@pack.Date</div>
                    <div class="col-12 col-sm-4">Qty: @pack.ProductsQuantity</div>
                    <div class="col-12 col-sm-4">@pack.PackStatus</div>
                </a>
            </div>
        }
    </div>
</div>