<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="pt-3 sidebar-sticky text-center">
        <ul class="nav flex-column">
            <li class="nav-item" style="font-size: 18px">
                <a class="nav-link active" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-chart-line"></i> &nbsp;Dashboard
                </a>
            </li>
            <li class="nav-item" style="font-size: 18px">
                <a class="nav-link" asp-controller="Order" asp-action="Index">
                    <i class="fas fa-box"></i> &nbsp;Orders
                </a>
            </li>
            <li class="nav-item" style="font-size: 18px">
                <a class="nav-link" asp-controller="Product" asp-action="Index">
                    <i class="fas fa-shopping-cart"></i> &nbsp;Products
                </a>
            </li>
            <li class="nav-item" style="font-size: 18px">
                <a class="nav-link" href="#">
                    <i class="fas fa-user-friends"></i> &nbsp;Customers
                </a>
            </li>
            <li class="nav-item" style="font-size: 18px">
                <a class="nav-link" asp-controller="Delivery" asp-action="IndexPack">
                    <i class="fas fa-truck-moving"></i> &nbsp;Deliveries
                </a>
            </li>
            <li class="nav-item" style="font-size: 18px">
                <a class="nav-link" href="#">
                    <i class="fas fa-pallet"></i> &nbsp;Warehouse
                </a>
            </li>
            <li class="nav-item" style="font-size: 18px">
                <a class="nav-link" href="#">
                    <i class="fas fa-industry"></i> &nbsp;Production
                </a>
            </li>
        </ul>
    </div>
</nav>