<nav class="navbar navbar-dark upper-nav bg-dark flex-md-nowrap p-1 shadow">
    <a class="text-left navbar-brand col-10 offset-2 col-sm-4 offset-sm-1 col-md-3 offset-md-0" href="#">Bike Production</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav px-3 position-absolute" style="right: 0;">
        <li class="nav-item text-nowrap">
            @Html.ActionLink("Sign out", "Logout", "Identity", new { area = ""}, new { @class = "nav-link" })
        </li>
    </ul>
</nav>